@font-face {
  font-family: "HYWenHei";
  src: url("../../../public/HYWenHei/HYWenHei.ttf");
}

.recipeCard{
    width: 340px;
    height: 405px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fef2e4;
    cursor: pointer;
}

.recipeCard:hover{
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
    transform: translateY(-2px);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.recipeCardImage {
    width: 100%;
    height: 245px;
    object-fit: cover;
}

.recipeCardInfo{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}

.recipeCardTitle{
    font-weight: bold;
    font-size: 18px;
    font-family: HYWenHei;
}

.recipeCardMeta{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

.recipeCardRating{
    color: #fd974f;
}

.recipeCardTags{
    font-size: 0.75em;
    color: #805a3b; 
}

.recipeCardHeartConteiner{
    display: flex;
    justify-content: flex-end;
}

.recipeCardHeart {
    width: 30px;
    height: 30px;
}