@font-face {
  font-family: "HYWenHei";
  src: url("../../../public/HYWenHei/HYWenHei.ttf");
}

.promoBlock{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.promoBlockTitle{
    font-family: HYWenHei;
}

.promoBlockSubtitle{
    font-size: 18px;
}