@font-face {
  font-family: "HYWenHei";
  src: url("../../../public/HYWenHei/HYWenHei.ttf");
  font-display: swap;
}

.header{
    background-color: #fd974f;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    height: 80px;
}

.headerContainer{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    padding: 0px 20px;
}

.headerTitle{
    font-family: HYWenHei;
    font-weight: bold;
    font-size: 20px;
}

.headerSearch{
    width: 50%;
    border: none;
    border-radius: 19px;
    height: 38px;
    outline: none;
    font-size: 0.95rem;
    padding: 6px 8px;
    background-color: #fef2e4;
}

.headerLinks{
    display: flex;
    gap: 20px;
}

.headerLinks li a{
    font-size: 18px;
}

.headerUser{
    position: relative;
}

.headerUserIcon{
    width: 37px;
    height: 37px;
    cursor: pointer;
}

.headerUserMenu{
    font-family: HYWenHei;
    position: absolute;
    border: 3px solid #3e2c1e;
    background-color: #fd974f;
    border-radius: 8px;
    padding: 5px;
    margin: 0;
    list-style: none;
    width: 145px;
    height: 100px;
    right: 0;
    top: 45px;
    display: none;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    justify-content: center;
}

.headerUserMenuOpen{
    display: flex;
}

.headerUserMenu li{
    width: 100%;
}

.headerUserMenu li a,
.headerUserMenu li button{
    display: block;
    border-radius: 8px;
    width: 100%;
    padding: 8px 12px;
    font-size: 18px;
    font-family: inherit;
    color: #3e2c1e;
    background-color: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
}

.headerUserMenu li a:hover,
.headerUserMenu li button:hover{
    background-color: #f8b788;
}