@font-face {
  font-family: "HYWenHei";
  src: url("../../../public/HYWenHei/HYWenHei.ttf");
}

.auth-page__container{
    background-color: #fd974f;
    height: 100vh;
    margin: 0;
    max-width: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: HYWenHei;
    flex-direction: column;
}

.auth-form{
    border: 2px solid #fef2e4;
    border-radius: 12px;
    padding: 24px;
    font-size: 22px;
}

.auth-form__field{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
}

.auth-form__input{
    width: 250px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    outline: none;
    padding: 6px 8px;
    background-color: #fef2e4;
    margin-left: 30px;
}

.auth-form__button{
    display: flex;
    justify-content: center;
}

.auth-form__button button{
    border-radius: 15px;
    font-size: 22px;
    cursor: pointer;
    width: 110px;
    height: 50px;
    color: #3e2c1e;
    font-family: HYWenHei;
    background-color: #fef2e4;
    border: none;
    margin-bottom: 25px;
}

.auth-form__redirection{
    color: #fef2e4;
    text-decoration: underline;
}

.login-form__error{
    color: #c60000;
    margin-top: 15px;
}

.login-form__error-hidden{
    display: none;
}